.container {
    width: 50%;
    padding-top: 20px;
}

.container.buton {
    width: 550px;
    border-radius: 500px;
}

body {
    background-color: grey;
}

.ppdb {
    padding-left: 10px;
}

.buton {
    padding-left: -100px;
    padding-right: -100px;
    text-align: center;
    border-radius: 50;
} 

.buton1 {
    text-align: center;
    margin-left: -50%;
    margin-right: -50%;
}

footer {
    padding: 10px;
}