
/* kiri */
#footer{
    width: 100%;
    height: 900px;
    background-color: #424242;
}

#footer .yt {
    margin-left: 10px;
}

#footer iframe {
    width: 400px;
    height: 200px;
    margin-top: 30px;
}

#footer .ggl {
    height: 300px;
    margin-left: 10px;
}

#footer p {
    color: grey;
    font-weight: 500;
    text-align: center;
    margin-right: 23px;
}

/* tengah */
#tengah h4 {
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

#tengah hr {
    width: 250px;
    margin-right: 300px;
    border: 1px solid #1565c0;
}

#tengah img {
    border: 1px solid white;
    margin-top: 17px;
}

#tengah .p1 {
    margin-top: -50px;
    margin-right: 10px;
    color: white;
}

#tengah .p1:hover {
    color: #1e88e5;
    transition: .4s;
}

#tengah #hr2 {
    margin-top: 29px;
    width: 380px;
    border: .1px solid grey;
}

#tengah #hr3 {
    border: .1px solid grey;
    width: 380px;
    margin-top: -8px;
}

/* k */
#k3 .p3 {
    margin-top: -50px;
    margin-right: -40px;
    color: white;
}

#k3 #hr4 {
    margin-top: 29px;
    width: 380px;
    border: .1px solid grey;
}

#k3 .p3:hover {
    color: #1e88e5;
}

/* kanan */
#kanan .judul {
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

#kanan hr {
    width: 250px;
    margin-right: 300px;
    border: 1px solid #1565c0;
}

#kanan img {
    width: 50px;
    height: 50px;
}

#kanan span {
    color: white;
    font-weight: 400;
    margin-top: -500px;
}

